# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Entorno virtual
venv/
env/
.venv/

# Configuración local
.env
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store
